{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Projeto Prometheus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.ico' %}">
               
               
               


    <!-- CSS here -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}">
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
               
                <img src="{% static 'img/logo/loder.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>Phone: </li>
                                    <li>Email: projetoprometheus@gmail.com</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-social">    
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo1.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">                                                                                          
                                            <li><a href="{% url 'index' %}">Início</a></li>
                                            <li><a href="{% url 'sobre' %}">Sobre nós</a></li>
                                            <li><a href="{% url 'services' %}">Serviços</a></li>
                                            <li><a href="{% url 'index' %}">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'index' %}">Blog</a></li>
                                                    <li><a href="#">Blog Detalhes</a></li>
                                                    <li><a href="{% url 'elementos' %}">Elementos</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'contato' %}">Contato</a></li>
                                        </ul>
                                    </nav>
                                </div>

                               

                                <!-- Header-btn -->
                                
                                {% if user.is_authenticated %}

                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <p id="navigation">
                                            Olá {{ user.username }} seja bem vindo
                                            
                                        </p>
                                        <a href="{% url 'logout' %}" class="btn header-btn">Sair</a>
                                    </div>
                                
                                {% else %}

                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <a href="{% url 'login' %}" class="btn header-btn">Entrar</a>
                                    </div>

                                {% endif %}
                            </div>
                        </div> 

                        <!-- sherh -->


                        

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>



{% block title %}



{% endblock %}

{% block content %}


{% endblock %}

<footer>
    <!--? Footer Start-->
    <div class="footer-area footer-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- footer Heading -->
               
                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4></h4>
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <img src="{% static 'img/principal/jack.jpg' %}" height="230" width="500"alt=""></a>
                    
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                
                                <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo1.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Unidos para propagar o conhecimento.</p>
                                </div>
                            </div>
                            <!-- Footer Social -->
                            <div class="footer-social ">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart" aria-hidden="true"></i> by Yuri M Menezes
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

    <!-- JS here --> 

    <script type="text/javascript" src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>

    <!-- Jquery, Popper, Bootstrap -->
 
    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    
    <script type="text/javascript" src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    
    <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/animated.headline.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <!-- Nice-select, sticky -->

    <script type="text/javascript" src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
    
    <!-- contact js -->
   
    <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mail-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    
</body>
</html>