{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<main>
  
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
       
      <div class="container">
          
          <div class="row">
             
              <div class="col-lg-8 mb-5 mb-lg-0">
                  <div class="blog_left_sidebar">

                      {% for post in posts %}

                              <article class="blog_item">

                                  <div>
                                      
                                      <a href="/posts/{{ post.pk }}" class="blog_item_date">
                                          <h1>{{ post.title }}</h1>  
                                      </a>
                                          

                                  </div>

                                  <div class="blog_item_img">
                                      <img class="card-img-top" src="{{ post.imagem.url }}" height="400" width="400"alt="Card image cap">
                                      <a href="/posts/{{ post.pk }}" class="blog_item_date">
                                          <h3>{{ post.created_at|date:'d, M Y' }}</h3>   
                                      </a>
                                  </div>

                                  
                              

                                  <div class="blog_details">

                                      <h2>{{ post.summary|safe }}</h2>
                                      <ul class="blog-info-link">
                                          <li><a href="#">Autor  <i class="fa fa-user"></i> {{ post.author|safe }}</a></li>
                                          
                                      </ul>
                                  </div>


                                  
                              </article>

                
                      {% endfor %}  

                     

                      <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                      <i class="ti-angle-left"></i>
                                  </a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">1</a>
                              </li>
                              <li class="page-item active">
                                  <a href="#" class="page-link">2</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Next">
                                      <i class="ti-angle-right"></i>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                      <aside class="single_sidebar_widget search_widget">
                          <form action="#">
                              <div class="form-group">
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder='Search Keyword'
                                          onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = 'Search Keyword'">
                                      <div class="input-group-append">
                                          <button class="btns" type="button"><i class="ti-search"></i></button>
                                      </div>
                                  </div>
                              </div>
                              <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                  type="submit">Search</button>
                          </form>
                      </aside>

                      <aside class="single_sidebar_widget post_category_widget">
                          <h2 class="widget_title">Categorias</h2>
                          <ul class="list cat-list">
                              <li>
                                  <a href="{% url 'tecnologia' %}" class="d-flex">
                                      <p>Tecnologias</p>
                                      
                                  </a>
                              </li>
                              <li>
                                  <a href="{% url 'animes' %}" class="d-flex">
                                      <p>Animes</p>
                                     
                                  </a>
                              </li>
                              
                      </aside>

                      <aside class="single_sidebar_widget popular_post_widget">
                          <h1 class="widget_title">Ultímos Posts</h1>

                          {% for post in posts %}

                          

                              <div class="media post_item">

                                  
                                  <div class="media-body">
                                      <a href="blog_details.html">
                                          <a href="/posts/{{ post.pk }}">
                                              <h2>{{ post.title }}</h2>
                                      </a>
                                      <img src="{{ post.imagem.url }}" height="100px" width="200px"alt="">
                                      <h3>{{ post.created_at|date:'d, M Y' }}</h3>  
                                  </div>
                              </div>

                          {% endfor %} 
                          
                          
                          
                      </aside>

                      <!--sessao de paginação-->
                      <div class="pagination">
                        <span class="step-links">
                            {% if posts.has_previous %}
                                <a href="?page={{ posts.previous_page_number }}">Anterior</a>
                            {% endif %}
                        
                            <span class="current">
                                {{ posts.number }} de {{ posts.paginator.num_pages }}
                            </span>
                        
                            {% if posts.has_next %}
                                <a href="?page={{ posts.next_page_number }}">Próxima</a>
                            {% endif %}
                        </span>
                    </div>
                     
                  </div>
              </div>
          </div>
      </div>
  </section>
        

    <!--================Blog Area =================-->
  
        <!--? Categories Area Start -->
        <div class="categories-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Projeto Prometheus</span>
                            <h2>Escolha o assunto que te enteressa mais</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                           
                            <div class="cat-cap">
                                <h5><a href="{% url 'tecnologia' %}">Tecnologia</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            
                            <div class="cat-cap">
                                <h5><a href="{% url 'animes' %}">Animes</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                           >
                            <div class="cat-cap">
                                <h5><a href="services.html">Air Transport</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            
                            <div class="cat-cap">
                                <h5><a href="services.html">Air Transport</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            
                            <div class="cat-cap">
                                <h5><a href="services.html">Land Transport</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            
                            <div class="cat-cap">
                                <h5><a href="services.html">Ship Transport</a></h5>
                                <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Categories Area End -->
       

    <!-- slider Area End-->
    <!--================Blog Area =================-->
    


    <!--================Blog Area =================-->
</main>
{% endblock %}