
    {% extends 'base.html' %}
    {% load static %}
    
    {% block content %}
    
    <main>
        <!--? slider Area Start-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'img/blog/animes/sabre.jpg' %}" height="450" width="300" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/blog/animes/naruto2.jpg' %}" height="450" width="300" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/blog/animes/sao.jpg' %}" height="450" width="300" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/blog/animes/archer.jpg' %}" height="450" width="300" alt="four slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/blog/animes/nogame.jpg' %}" height="450" width="300" alt="five slide">
              </div>
              
          
            
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        






        <!-- slider Area End-->
        <!--================Blog Area =================-->


        

       
        <section class="blog_area section-padding">
       
            <div class="container">
                
                <div class="row">
                   
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">

                            {% for post in posts %}

                                    <article class="blog_item">

                                        <div>
                                            
                                            <a href="/posts/{{ post.pk }}" class="blog_item_date">
                                                <h1>{{ post.title }}</h1>  
                                            </a>
                                                

                                        </div>

                                        <div class="blog_item_img">
                                            <img class="card-img-top" src="{{ post.imagem.url }}" height="400" width="400"alt="Card image cap">
                                            <a href="/posts/{{ post.pk }}" class="blog_item_date">
                                                <h3>{{ post.created_at|date:'d, M Y' }}</h3>   
                                            </a>
                                        </div>

                                        
                                    

                                        <div class="blog_details">

                                            <h2>{{ post.summary|safe }}</h2>
                                            <ul class="blog-info-link">
                                                <li><a href="#">Autor  <i class="fa fa-user"></i> {{ post.author|safe }}</a></li>
                                                
                                            </ul>
                                        </div>


                                        
                                    </article>

                      
                            {% endfor %} 
                            
                            
                            
                      <!--sessao de paginação-->
                      <div class="pagination">

                        <span class="step-links">

                            {% if posts.has_previous %}

                                <a href="?page={{ posts.previous_page_number }}"><i class="fas fa-arrow-left"> </i></a>

                            {% endif %}

                            <span class="current">

                                    {{ posts.number }} de {{ posts.paginator.num_pages }}

                            </span>

                            {% if posts.has_next %}

                                <a href="?page={{ posts.next_page_number }}"><i class="fas fa-arrow-right"> </i></a>

                            {% endif %}

                        </span>

                        

                      </div>

                           

                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder='Search Keyword'
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>

                            <aside class="single_sidebar_widget post_category_widget">
                                <h2 class="widget_title">Categorias</h2>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="{% url 'tecnologia' %}" class="d-flex">
                                            <p>Tecnologias</p>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'animes' %}" class="d-flex">
                                            <p>Animes</p>
                                           
                                        </a>
                                    </li>
                                    
                            </aside>

                            <aside class="single_sidebar_widget popular_post_widget">
                                <h1 class="widget_title">Ultímos Posts</h1>

                                {% for post in posts %}

                                

                                    <div class="media post_item">

                                        
                                        <div class="media-body">
                                            <a href="blog_details.html">
                                                <a href="/posts/{{ post.pk }}">
                                                    <h2>{{ post.title }}</h2>
                                            </a>
                                            <img src="{{ post.imagem.url }}" height="100px" width="200px"alt="">
                                            <h3>{{ post.created_at|date:'d, M Y' }}</h3>  
                                        </div>
                                    </div>

                                {% endfor %}  
                                
                            </aside>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    </main>
    {% endblock %}